body {
    background: linear-gradient(
      90deg,
      rgba(0, 151, 255, 1) 0%,
      rgba(6, 117, 159, 1) 100%
    );
    background-size: cover;
  }
  
  .container {
    .custom-card {
      border-radius: 0.8rem;
      img {
        width: 70px;
        height: 70px;
      }
    }
    .custom-card:hover {
      cursor: pointer;
      box-shadow: 4px 2px 20px rgb(0, 0, 0, 0.3);
      transition: box-shadow 0.3s ease-in-out;
    }
  
    .custom-card::after {
      pointer-events: all;
    }
  
    .card {
      hr {
        border: none;
        border-top: 3px solid #0d6efd;
        box-shadow: 4px 2px 20px rgb(0, 0, 0, 0.3);
      }
    }
  }
  
  table {
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
  }